nav .navbar-brand {
  font-size: 52px;
}

nav .navbar-brand > .lite {
  color: rgb(87, 161, 182);
}

.nav-item > a {
  color: black !important;
  font-weight: bold;
  padding: 8px 24px !important;
}

.nav-item.active > a {
  color: rgb(87, 161, 182) !important;
}

.carouselContainer {
  padding-top: 60px;
  padding-bottom: 112px;
  background-color: rgb(153, 226, 235);
}

.featuresContainer {
  background-color: rgb(233, 235, 240);
  padding-top: 70px;
  padding-bottom: 20px;
}

.featuresContainer .row .col-sm {
  padding-bottom: 40px;
}

.featuresContainer p, .featuresContainer a {
  font-size: 12px;
}

.featuresContainer a {
  color: rgb(87, 161, 182);
}

.worksContainer {
  padding-top: 32px;
  margin-bottom: 24px;
}

.worksContainer .row .col-sm {
  margin-bottom: 40px;
}

.worksContainer img {
  width: 100%;
}

.worksContainer button {
  display: block;
  margin: 0 auto;
  height: 72px;
  padding: 0 24px;
  background-color: rgb(136, 218, 230);
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

.testimonialsContainer {
  padding-bottom: 38px;
}

.testimonialsContainer p {
  margin-bottom: 44px;
}

footer {
  background-color: rgb(233, 235, 240);
  padding: 36px 0;
  border-top: 1px solid rgb(228, 229, 234);
  font-size: 14px;
}