nav .navbar-brand {
  font-size: 52px;
}

nav .navbar-brand > .lite {
  color: rgb(87, 161, 182);
}

.nav-item > a {
  color: black !important;
  font-weight: bold;
  padding: 8px 24px !important;
}

.nav-item.active > a {
  color: rgb(87, 161, 182) !important;
}

.carouselContainer {
  padding-top: 60px;
  padding-bottom: 112px;
  background-color: rgb(153, 226, 235);
}
